*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#eef7ff;
color:#222;

}

header{

position:fixed;
width:100%;
z-index:1000;

backdrop-filter:blur(10px);

background:rgba(255,255,255,.1);

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

}

.logo{

font-size:30px;
font-weight:800;
color:#0b63ce;

}

.logo span{

color:#7a2232;

}

nav ul{

display:flex;
list-style:none;
gap:35px;

}

nav a{

text-decoration:none;
color:#fff;

font-weight:500;

}

.btn{

padding:12px 28px;

background:#0b63ce;

border-radius:40px;

color:white;

text-decoration:none;

transition:.3s;

}

.btn:hover{

background:#7a2232;

}

.hero{

height:100vh;

background:url("https://images.unsplash.com/photo-1519315901367-f34ff9154487?auto=format&fit=crop&w=1500&q=80") center/cover;

display:flex;

align-items:center;

padding:0 10%;

position:relative;

}

.overlay{

position:absolute;

inset:0;

background:linear-gradient(90deg,#002f65dd,#002f6580);

}

.hero-text{

position:relative;

max-width:650px;

color:white;

}

.hero h1{

font-size:70px;

line-height:1.1;

margin-bottom:20px;

}

.hero p{

font-size:20px;

opacity:.9;

margin-bottom:35px;

}

.buttons{

display:flex;

gap:20px;

}

.primary{

background:#0b63ce;

padding:16px 35px;

border-radius:50px;

color:white;

text-decoration:none;

}

.secondary{

padding:16px 35px;

border:2px solid white;

border-radius:50px;

color:white;

text-decoration:none;

}

.about{

padding:100px 8%;

}

.about h2{

text-align:center;

font-size:42px;

margin-bottom:60px;

color:#0b63ce;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}

.card{

background:white;

padding:40px;

border-radius:25px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-12px);

}

.card h3{

margin-bottom:15px;

color:#0b63ce;

}

.stats{

display:grid;

grid-template-columns:repeat(4,1fr);

background:#0b63ce;

padding:80px;

text-align:center;

color:white;

}

.box h2{

font-size:50px;

}

.cta{

padding:120px 20px;

text-align:center;

background:#f5f5f5;

}

.cta h2{

font-size:52px;

margin-bottom:15px;

color:#0b63ce;

}

.cta p{

margin-bottom:35px;

}

footer{

padding:35px;

text-align:center;

background:#222;

color:white;

}

@media(max-width:900px){

.hero h1{

font-size:42px;

}

nav ul{

display:none;

}

.stats{

grid-template-columns:repeat(2,1fr);

gap:30px;

}
